DISCORD_TOKEN=
MONGO_TOKEN=
GIPHY_TOKEN=
WEBHOOK_ID=
WEBHOOK_TOKEN=
DISCORD_ID=

# Not neccessary variables
DISCORD_STATUS="Listening to meself, I'm a stupid bot, https://github.com/corwindev/discord-bot"
RADIO=
TOPGG_TOKEN=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
LAVALINK_HOST=lava.link
LAVALINK_PASSWORD=I'm a secret
LAVALINK_PORT=80
OPENAI=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
